<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tichenko.prepare"
    android:versionCode="1"
    android:versionName="1.0" android:sharedUserLabel="@drawable/cooking">
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" /> 
    <application 
        android:icon="@drawable/cooking" 
        android:label="@menu/activity_main" 
        android:theme="@style/AppTheme" 
        android:allowTaskReparenting="false">
        <activity 
            android:name=".main.Cookbook" 
            android:label="@menu/activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>
         <activity  android:name=".main.France">
        </activity>
        <activity  android:name=".main.Portugal">
        </activity>
        <activity  android:name=".main.Spain">
        </activity>
        <activity  android:name=".main.Germany">
        </activity>
        <activity  android:name=".main.Greece">
        </activity>
        <activity  android:name=".main.Ukraine">
        </activity>
        <activity  android:name=".main.Russia">
        </activity>
        <activity  android:name=".main.Italy">
        </activity>
        <activity  android:name=".main.Recipe">
        </activity>
    </application>
</manifest>
